/*  body */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Ubuntu', sans-serif;
}	
	
body {
	/*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
	background: linear-gradient(to right, #2535af, #9153c9);
	
	}
	
.tab {
    text-align: center;
}
	
.work_ex {
background: #292b2f;
padding-top: 50px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 80px;
word-spacing: 8px;
line-height: 30px;
}

.work_ex a:hover{
    font-size: 150%;
}

.re_link a:link {
    color: #292b2f;
}

.tabcontent a {
  color: #fff;
}

.tabcontent a:link {
  text-decoration: none;
}

.tabcontent a:visited {
  text-decoration: none;
}

.tabcontent a:hover {
  background-color: #9153c9;
}
	
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 30px;
}

.tabcontent {
    color: #fff;
    text-align: center;
}

.home_links {
    font-size: 50px;
}

.home_text {
    background: #292b2f;
    padding: 20px 0;
}

.resume {
   width: 800px; 
   background: #fff;
   margin: 25px auto;
   display: flex;
}

.left {
    background: #292b2f;
    width: 250px;
    padding: 0 20px;
}

.right {
    width: calc(100% - 250px);
}

.left .image_holder{
    text-align: center;
    padding: 20px;
}

.left .image_holder img{
    border-radius: 30px;
}

.pb {
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
    color: #3525af;
    position: relative;
    text-align: right;
    margin-bottom: 15px;
}

.title before{
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    width: 50px;
    height: 3px;
    background:#3525af;
}

.left .icon {
    font-size: 20px;
    color: #9153c9;
}

.left .text {
    color:#9153c9;
    text-transform: uppercase;
    font-size: 15px;
}

.contact .li_wrap{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.contact .li_wrap .icon{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.contact .li_wrap .text{
    width: calc(100% - 50px);
    word-break: break-word;
}

.skills .li_wrap{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.skills .li_wrap .icon{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.skills .li_wrap .text{
    width: calc(100% - 50px);
    word-break: break-word;
}

.awards .li_wrap{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.awards .li_wrap .icon{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.awards .li_wrap .text{
    width: calc(100% - 50px);
    word-break: break-word;
}

.languages ul{
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.languages .li_wrap {
    width: 90px;
	height: 90px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    border: 2px solid #fff;
}

.languages .text{
    margin-top: 5px;
}

.header{
    background: #292b2f;
	padding: 15px 30px;
	color: #fff;
	height: 240px;
}

.header .name{
	font-size: 52px;
	text-transform: uppercase;
	font-weight: 700;
	color: #3525af;
}

.header .role{
	font-weight: 300;
	font-size: 20px;
}

.header .about{
	margin-top: 20px;
	line-height: 26px;
}

.right_inner{
	padding: 30px;
	color: #292b2f;
}

.right_inner .experiance{
    margin-top: 30px;
}

.right_inner .li_wrap{
	display: flex;
	margin-bottom: 15px;
}

.right_inner .li_wrap .date {
    width: 125px;
    color: #9153c9;
}

.right_inner .li_wrap .info{
	width: calc(100%  - 125px);
	padding-left: 25px;
	position: relative;
}

.right_inner .li_wrap .info_title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: #9153c9;
}

.right_inner .li_wrap .info_com{
	font-weight: 300;
	font-size: 14px;
	margin-top: 3px;
}

.right_inner .li_wrap .info_cont{
	margin-top: 15px;
}

.right_inner .li_wrap .info:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background: #9153c9;
	border-radius: 50%;
}

.right_inner .li_wrap .info:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 90%;
	background: #9153c9;
}

/*Education Tab*/

.edu {
background: #292b2f;
padding-top: 50px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 80px;  
}

.accom {
background: #292b2f;
padding-top: 50px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 80px; 
word-spacing: 8px;
line-height: 30px;
    
}






#container {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

p {
	margin-bottom: 20px;
	}

.listmargin  {
	margin-bottom: 20px;
}	

.img-style-1 {
	float: left;
	margin-right: 10px;
    margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #CCC;
}	
	
/* tutorial styles */

/* tabs */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: ##9153c9;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 22px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #3525AF;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #3525AF;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
